* {
    font-family: 'Jost', sans-serif;
}

body {
    background-color: #dddddd;
    height: 100vh;
}

.filter-bar {
    width: 100%;
    margin-left: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #616161;

    input {
        padding: 5px 10px;
        width: 281px;
        height: 23px;
        margin-left: 945px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    img {
        height: 16px; 
        width: 16px; 
        margin-left: -22px;
        margin-top: -14px;
      }
}

ul {
    list-style: none;
    width: 1216px;
    margin: 0 auto;
    margin-top: 28px;
    padding: 0;
}

#li {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 35px 4px 4px 35px;
    cursor: pointer;

    img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }

    .text {
        margin-left: 10px;
        padding: 0;

        p {
            margin: 0;
            padding: 0;
        }
    }
}

#li.add-company-card {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #dddddd;
    color: #969696;
    border: 1px solid #616161;
    cursor: pointer;

    span {
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    ul {
        list-style: none;
        width: 350px;
        margin: 0 auto;
        margin-top: 48px;
        padding: 0;
    }
} 

@media (max-width: 1200px) {
    
    .filter-bar {
        flex-direction: column; 
        align-items: flex-start; 
        
        input {
            margin-left: 0; 
            margin-top: 1rem; 
        }

        img {
            margin-top: -40px;
            margin-left: 270px;
        }
    }
    ul {
        list-style: none;
        margin: 0 auto;
        margin-top: 48px;
        padding: 0;
    }
    
    #li {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        background-color: #fff;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 35px 4px 4px 35px;
    
        img {
            height: 40px;
            width: 40px;
            margin-right: 10px;
        }
    
        .text {
            margin-left: 10px;
            padding: 0;
    
            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    #li.add-company-card {
        margin-top: 20px;
    }

}
